lst_model_data_all_by_atoms_100000.npy
lst_model_data_all_by_atoms_2000.npy
lst_original_data_all_by_atoms_100000.npy

#out_cp/

out_cp/Ph.cel
out_cp/Ph.con
out_cp/Ph.eig
out_cp/Ph.evp
out_cp/Ph.for
out_cp/Ph.hrs
out_cp/Ph.nsg
out_cp/Ph.nos
out_cp/Ph.pol
out_cp/Ph.pos
out_cp/Ph.spr
out_cp/Ph.str
out_cp/Ph.the
out_cp/Ph.vel
out_cp/Ph.wfc
out_cp/Ph_energy.npy
out_cp/Ph_pos.npy
out_cp/Ph_for.npy

forcetut/dataset_100000_pbc.db
